/*FONTS*/
@font-face 
{
    font-family: titilliumweb_regular;
    src: url(../fonts/TitilliumWeb-Regular.ttf);
}
@font-face 
{
    font-family: titilliumweb_bold;
    src: url(../fonts/TitilliumWeb-Bold.ttf);
}
@font-face 
{
    font-family: titilliumweb_semibold;
    src: url(fonts/TitilliumWeb-SemiBold.ttf);
}
@font-face 
{
    font-family: titilliumweb_light;
    src: url(../fonts/TitilliumWeb-Light.ttf);
}
a,a:hover,a:active,a:focus
{
    color:#fff;
    text-decoration: none;
}
#sidebarCollapse
{
    color:#1899d3;
    margin-right: 10px;
}
.navbar
{
    padding: 15px 0;
    background: #fff;
    border: 0;
    border-bottom:1px solid #1899d3;
    border-radius: 0;
    text-align: right;
}

.navbar-btn 
{
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #323232;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #323232;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #323232;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components 
{
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    background: linear-gradient(#525357, #424347);
}
#sidebar ul li a:hover {
    background: #1899d2;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #1899d2;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    home STYLE
----------------------------------------------------- */
.bgcolor
{
    background: #fff;   
}
.main_icon
{
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    max-width: 80px;
    margin: 0 auto;
}
.main_icon img
{
    padding: 15px 0px;
}
.bgcolor_log
{
    background: #1e9bd7;
    height: 100vh;
}
.home_screen
{
    width:100%;
    text-align:center;
    top:50%;
    transform: translateY(-50%);
    position: relative;
}
.home_screen img
{
    width:68%;
    min-width:220px;
    max-width:425px;
}
body
{
    height: 100%;
}
.bgimage
{
    background-image: url("../img/bg_image.jpg");
    width:100%;
    text-align:center;
    top:50%;
    /*transform: translateY(-50%);*/
    position: relative;
    height: 100vh;
    min-width:220px;
    max-width:425px;
    background-size: cover;
}
.login_button
{
  width:60%;
  font-family: titilliumweb_semibold; 
  background-color: #1999d2;
  height: 30px;
  font-size: 18px;
  color: #fff;
  border: 0;  
}
.reghome_form
{
    position: absolute;
    bottom: 8%;
    width: 100%;
    text-align: center;
}
form p
{
    margin-top: 10%;
}
.log_logo
{
    background-color:rgba(30,155,215,0.9);
    height: 100vh;

}
.log_logo img
{
    width:34%;
    min-width:120px;
    max-width:205px;
    margin-top: 6%;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content 
{
    width: 100%;
    padding: 20px;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
/* ---------------------------------------------------
    REGISTER_PAGE , LOGIN STYLE
----------------------------------------------------- */
.log_reg_form
{
    position: absolute;
    bottom: unset;
    width: 100%;
    text-align: left;
    top: 20%;
    padding: 0px 8%;
}
.log_reg_form label
{
    color: rgba(255,255,255,0.7);
    margin:0;
}
.forgot_pwd_text
{
    float: right;
    margin:0;
}
.log_reg_form  a
{
    color: rgba(255,255,255,0.7);
}
.log_reg_form input
{
    border-bottom: 1px solid rgba(255,255,255,0.7);
    border-top: 1px solid rgba(30,155,215,0);
    border-right:1px solid rgba(30,155,215,0);
    border-left: 1px solid rgba(30,155,215,0);
    background-color:rgba(30,155,215,0);
    border-radius: 0;
    line-height: 0;
    margin-bottom: 35px;
    color: #fff;
    width: 100%;
}
.log_reg_form .checkbox
{
     background-color:rgba(30,155,215,0);
     border:#fff;
     border-radius: 20px;
     float: right;
}
/* The container */
.log_reg_form .container
 {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
}

/* Hide the browser's default checkbox */
.log_reg_form .container input 
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.log_reg_form .checkmark 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border:1px solid #fff;
}
/* Create the checkmark/indicator (hidden when not checked) */
.log_reg_form .checkmark:after 
{
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.log_reg_form .container input:checked ~ .checkmark:after 
{
    display: block;
}
/* Style the checkmark/indicator */
.log_reg_form .container .checkmark:after 
{
    left: 5px;
    top: 0px;
    width: 4px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.register_button_inner
{
    width: 100%;
    font-family: titilliumweb_regular;
    background-color: #fff;
    height: 30px;
    font-size: 18px;
    color: #1f99da;
    border: 0;
    margin-top:10%;
}
.continue_text a
{
     font-size: 18px;
     font-family: titilliumweb_regular;
     color: rgba(255,255,255,0.7);
}
 .bottom_text
 {
    position: absolute;
    bottom: 4%;
    width: 100%;
    text-align: center;
 }
 .regpg_2
 {
    max-width:  70% !important;
    margin-bottom: 10px !important;
 }
.reglab2
{
    width: 30%;
}
